* {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './colors';

@import './components/chefs/ListChefs';

@import './components/recipe/AddRecipe';
@import './components/recipe/DetailRecipe';

@import './components/profile/Profile';

@import './components/core/button';
@import './components/core/input';
@import './components/core/form-group';
@import './components/core/dropdown';

@import './common';

@import './components/Header';
@import './components/HomeContent';
@import './components/AuthLayout';

@import './components/home/index.scss';
